# Dependencies
node_modules/

# Environment Files
.env
.env.local

# Builds
dist/
build/
coverage/

# Logs & Testing
*.log
test-results/
playwright-report/

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
